* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #5d4257;
	background-image: linear-gradient(315deg, #5d4257 0%, #a5c7b7 74%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
    margin-top: 15px;
}

button {
	height: 100%;
	width: 90%;
	cursor: pointer;
	background-color: #08e1ae;
	background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
	border: none;
	border-radius: 50px 50px 30px 30px;
	transition: 1s;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

button a {
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	text-decoration: none;
	color: rgba(37, 61, 29, 0.7);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button:hover {
	border-radius: 100px 100px 20px 20px;
	height: 45px;
	width: 165px;
}

button:hover .scale {
	letter-spacing: 5px;
	font-size: 25px;
	transition: 1s;
}

.rotate-1, .rotate-2, .rotate-3, .rotate-4 {
	transition: 1s;
}

button:hover .rotate-1 {
	transform: rotate(15deg);
}

button:hover .rotate-2 {
	transform: rotate(-15deg);
}

button:hover .rotate-3 {
	transform: rotate(10deg);
}

button:hover .rotate-4 {
	transform: rotate(-25deg);
}

button:active {
	filter: hue-rotate(90deg);
}


         .contain{
            display: flex;flex-wrap: wrap;flex-direction: column;min-width: 420px;max-width: 100%;width: 420px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }
        button {
         /*   border: 0px solid #ccc;
            background-color: #445483;
            color: #fff;
            cursor: pointer;*/
            width: 100%;
        }
        button:hover {
/*            background-color: #677ec3;*/
        }
        #resultParent {
            margin-top: 20px;
            font-weight: bold;
            padding: 20px;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            min-height: 22px;
        }
        #result {
            margin-bottom: 10px;
            font-weight: bold;
             padding: 5px 20px;
            border-radius: 5px;
            background-color: #fff;
            min-height: 22px;
        }
        #copyButton{
            /*margin-top: 20px;
            width: 100%;*/
        }
        #result a{
            text-decoration: none;
            border-bottom: 1px solid #515c7e;
            color: #515c7e;
            word-break: break-all;
            word-wrap: break-word;
        }
       

        @media screen and (max-width: 500px) {
          .contain {
            min-width: 300px;
          }
        }

        #tips{
            font-weight: bold;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: #fff;
            min-height: 22px;
        }

        ::placeholder{ color: #e8e8e8 } 
